body
{
    background-color: white;    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: block;    
    margin-left: 25%;
    margin-right: 25%;
        
}
#picture
{
    width: 75px;
    height: 75px;
}

#table
{
    text-align: left;
    
}
