body
{
    font-family: cursive,Arial, Calibri;  
}   

#container
{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

}


#picture
{
    width: 80px;
}

header
{
    font-size: 30px;
}
table
{
    width: 340px;
    float:left;       
}
td
{
    padding: 10px;
    border-bottom: 0.5px solid;   
    font-size: 20px;    
    background-color: #eee;
    border-color: white;
    border-bottom: 0px solid;
    

}    
td:hover
{
    background-color: coral;
        
    
}

aside
{
    width: 590px;
    float: right; 
}
h2
{
    margin-top: 0;
}
#code
{
    background-color: #eee;
    border: 1px solid #999;
    display: block;    
    font-size: 120%;
    padding-left: 10px;
    padding-top: 5px;
   
    
}
footer
{
    clear:both;
    background-color: #eee;
}

